# Intro a R

In [1]:
?history

In [2]:
history

function (max.show = 25, reverse = FALSE, pattern, ...)
{
    file1 <- tempfile("Rrawhist")
    savehistory(file1)
    rawhist <- readLines(file1)
    unlink(file1)
    if (!missing(pattern))
        rawhist <- unique(grep(pattern, rawhist, value = TRUE,
            ...))
    nlines <- length(rawhist)
    if (nlines) {
        inds <- max(1, nlines - max.show):nlines
        if (reverse)
            inds <- rev(inds)
    }
    else inds <- integer()
    file2 <- tempfile("hist")
    writeLines(rawhist[inds], file2)
    file.show(file2, title = "R History", delete.file = TRUE)
}
<bytecode: 0x562ec0fef4b8>
<environment: namespace:utils>

In [4]:
c(12, 3, 3, 2)

[1] 12  3  3  2

In [7]:
edades <- c(12, 3, 3, 2)

In [8]:
edades

[1] 12  3  3  2

In [9]:
sum(edades)

[1] 20

In [10]:
mean(edades)

[1] 5

In [11]:
range(edades)

[1]  2 12

In [12]:
1+2+3

[1] 6

In [13]:
c(0, 1,2,3,5,6)

[1] 0 1 2 3 5 6

In [14]:
1:20

 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20

In [15]:
variable = c(2,4,5)

In [16]:
variable

[1] 2 4 5

In [17]:
 a <- c(3,4)

In [18]:
?seq

In [19]:
5 %in% 2

[1] FALSE

In [20]:
5 %in% c(3,4,5)

[1] TRUE

In [21]:
c(TRUE, TRUE, FALSE) && c(TRUE, FALSE, FALSE)

[1] TRUE

In [22]:
c(TRUE, TRUE, FALSE) && c(FALSE, FALSE, FALSE)

[1] FALSE

In [23]:
x <- 5
if (x < 0) {
  print("x es un número negativo")
} else {
  print("x es un número postivo o cero")
}

[1] "x es un número postivo o cero"

In [24]:
cities <- c("New York", "Paris", "London", "Tokyo", "Rio de Janeiro", "Cape Town")
for (i in 1:length(cities)) {
  print(paste(cities[i], "está en la posición", i, "del vector de ciudades."))
}

[1] "New York está en la posición 1 del vector de ciudades."
[1] "Paris está en la posición 2 del vector de ciudades."
[1] "London está en la posición 3 del vector de ciudades."
[1] "Tokyo está en la posición 4 del vector de ciudades."
[1] "Rio de Janeiro está en la posición 5 del vector de ciudades."
[1] "Cape Town está en la posición 6 del vector de ciudades."

In [26]:
######################
# Control de errores #
######################
inputs = list(1, 2, 4, -5, "oops", 0, 10)

for(input in inputs) {
  print(paste("log of", input, "=", log(input)))
}

[1] "log of 1 = 0"
[1] "log of 2 = 0.693147180559945"
[1] "log of 4 = 1.38629436111989"

Warning message in log(input):
“NaNs produced”

[1] "log of -5 = NaN"

ERROR: Error in log(input): non-numeric argument to mathematical function

In [27]:
for(input in inputs) {
  tryCatch(print(paste("log of", input, "=", log(input))),
           warning = function(w) { print(paste("negative argument", input)); log(-input) },
           error = function(e) { print(paste("non-numeric argument", input)); NaN })
}

[1] "log of 1 = 0"
[1] "log of 2 = 0.693147180559945"
[1] "log of 4 = 1.38629436111989"
[1] "negative argument -5"
[1] "non-numeric argument oops"
[1] "log of 0 = -Inf"
[1] "log of 10 = 2.30258509299405"

In [28]:
?tryCatch

In [31]:
LETTERS

letters

month.abb

month.name



pi

 [1] "A" "B" "C" "D" "E" "F" "G" "H" "I" "J" "K" "L" "M" "N" "O" "P" "Q" "R" "S"
[20] "T" "U" "V" "W" "X" "Y" "Z"

 [1] "a" "b" "c" "d" "e" "f" "g" "h" "i" "j" "k" "l" "m" "n" "o" "p" "q" "r" "s"
[20] "t" "u" "v" "w" "x" "y" "z"

 [1] "Jan" "Feb" "Mar" "Apr" "May" "Jun" "Jul" "Aug" "Sep" "Oct" "Nov" "Dec"

 [1] "January"   "February"  "March"     "April"     "May"       "June"
 [7] "July"      "August"    "September" "October"   "November"  "December"

[1] 3.141593

In [ ]:
###################################
# Basics: operadores aritméticos  #
###################################

# Suma 5 + 5
5+5

In [33]:
# Resta 5 - 5
5-5

[1] 0

In [34]:
# Multiplica 3 * 5
3*5

[1] 15

In [35]:
# Suma 5 +5 y divide el resultado entre 2
(5+5)/2

[1] 5

In [38]:
# Calcula 2 elevado a 5
2**5

[1] 32

In [39]:
# Calcula modulo de 28 entre 6
28 %% 6

[1] 4

In [64]:
###################################
# Basics: asignación de variables #
###################################

# Asgina el valor 5 a la variable my_apples
my_apples <- 5

In [65]:
# Muestra el contenido de la variable my_apples
my_apples

[1] 5

In [67]:
# Asgina el valor 6 a la variable my_pears
6 -> my_pears

In [68]:
# Muestra el contenido de la variable my_pears
my_pears

[1] 6

In [69]:
# Suma peras con manzanas: crea una nueva variable my_fruit con la suma
my_fruit <- my_pears + my_apples

In [70]:
# Muestra el número total de piezas de fruta
my_fruit

[1] 11

In [71]:
###################################
# Basics: tipos básicos           #
###################################

# Declara una variable numérica, my_numeric, con el valor 42
my_numeric <- 42

In [72]:
# Declara una variable de tipo texto, my_character, con el valor "forty-two"
my_character <- "forty-two"

In [73]:
# Declara una variable booleana, my_logical, con el valor FALSE
my_logical <- FALSE

In [74]:
# ¿De qué tipo son?
typeof(my_numeric)
typeof(my_character)
typeof(my_logical)

[1] "double"

[1] "character"

[1] "logical"

In [60]:
# ¿De qué clase son?
class(my_numeric)
class(my_character)
class(my_logical)

[1] "numeric"

[1] "character"

[1] "logical"

In [61]:
# ¿Cuál es su modo?
mode(my_numeric)
mode(my_character)
mode(my_logical)

[1] "numeric"

[1] "character"

[1] "logical"

ERROR: Error in parse(text = x, srcfile = src): <text>:1:2: unexpected input
1: 2<c2>
     ^

# Vectores

In [76]:
v1 <- vector(mode = 'logical', length = 4)
v1

[1] FALSE FALSE FALSE FALSE

In [78]:
v2 <- vector(mode = 'integer', length = 4)
v2

[1] 0 0 0 0

In [79]:
numeric(4)

[1] 0 0 0 0

In [80]:
character(4)

[1] "" "" "" ""

In [84]:
v3 <- 1:5
v3

[1] 1 2 3 4 5

In [85]:
typeof(v3)

[1] "integer"

In [86]:
v5  <- seq(from=0, to=1, by=0.1)
v5

 [1] 0.0 0.1 0.2 0.3 0.4 0.5 0.6 0.7 0.8 0.9 1.0

In [88]:
v9 <- c(v1,v2)
v9

[1] 0 0 0 0 0 0 0 0

In [89]:
v10 <- c(a=1,b=2,c=3)
v10

a b c
1 2 3

In [92]:
###################################
# Vectores: Operaciones           #
###################################

a_vector <- c(1, 2, 3)
b_vector <- c(4, 5, 2)

total_vector <- a_vector + b_vector
total_vector

[1] 5 7 5

In [93]:
total_vector <- a_vector + 1
total_vector

[1] 2 3 4

In [94]:
###################################
# Vectores: Indexación            #
###################################

v <- 1:100

# Indexando con números positivos
v[1] # Seleccionamos el primer elemento
v[c(1, 1, 4, 5)] # Seleccionamos el primero dos veces, el cuarto y el quinto
v[20:30] # Obtenemos los elementos entre el índice 20 y 30
v[70:100] <- 0 # Asignamos el valor cero a los elemenos entre los índices 70 y 100
v[which(v > 30)] # Seleccionamos los índices de los elementos > 30

[1] 1

[1] 1 1 4 5

 [1] 20 21 22 23 24 25 26 27 28 29 30

 [1] 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55
[26] 56 57 58 59 60 61 62 63 64 65 66 67 68 69

In [95]:
# Indexando con números negativos
v[-1] # Seleccionamos todos menos el primer elemento
v[-c(1, 3, 4, 5)] # Seleccionamos todos menos el primero, el tercero, el cuarto y el quinto
v[-length(v)] # Todos menos el último

 [1]  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26
[26] 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51
[51] 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69  0  0  0  0  0  0  0
[76]  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0

 [1]  2  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29
[26] 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54
[51] 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69  0  0  0  0  0  0  0  0  0  0
[76]  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0

 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25
[26] 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50
[51] 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69  0  0  0  0  0  0
[76]  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0

In [97]:
# Indexando con vectores lógicos o expresiones booleanas
v0 <- v[1:5]
v0[c(TRUE, FALSE, TRUE, FALSE, FALSE)] # Seleccionamos el primero y el tercero
v[v > 30] # Todos los > 30
v[v > 30 & v <= 50] # Todos los > 30 y <= 50
v[v == 0] # Todos los 0
v[v %in% c(10, 20, 30)] # Seleccionamos los elementos del vector que están en un conjunto dado (10, 20 y 30)

[1] 1 3

 [1] 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55
[26] 56 57 58 59 60 61 62 63 64 65 66 67 68 69

 [1] 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50

 [1] 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0

[1] 10 20 30

In [101]:
v[which(v>30)]

 [1] 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55
[26] 56 57 58 59 60 61 62 63 64 65 66 67 68 69

In [98]:
# Indexando por nombre
names(v0) <- c("alpha", "beta", "gamma", "delta", "omega")
v0["alpha"]

v0["beta"] <- 500
v0[c("delta", "omega")]

alpha
    1

delta omega
    4     5

In [99]:
v0[!(names(v0) %in% c("alpha", "omega"))]

 beta gamma delta
  500     3     4

In [106]:
###################################
# Vectores                        #
###################################

# Crea dos vectores numéricos que representen las ganancias y pérdidas de la semana.
# For poker_vector:
#   On Monday you won 140$
#   Tuesday you lost 50$
#   Wednesday you won 20$
#   Thursday you lost 120$
#   Friday you won 240$
  
# For roulette_vector:
#   On Monday you lost 24$
#   Tuesday you lost 50$
#   Wednesday you won 100$
#   Thursday you lost 350$
#   Friday you won 10$

# Vector con las ganancias en el poker de lunes a viernes
poker_vector  <- c(140,-50,20,-120,240)

# Vector con las ganancias en la ruleta de lunes a viernes
roulette_vector  <- c(-24,-50,100,-350,10)

In [111]:
# Crea un vector con los días de la semana y asignalo como nombre a los elementos de los vectores anteriores
days_vector <- c('lunes', 'martes','miercoles','jueves','viernes')
names(poker_vector) <- c(days_vector )
names(roulette_vector) <- c(days_vector )
poker_vector
roulette_vector

    lunes    martes miercoles    jueves   viernes
      140       -50        20      -120       240

    lunes    martes miercoles    jueves   viernes
      -24       -50       100      -350        10

In [112]:
# Calcula el total de ganancias diario
total_daily <- poker_vector + roulette_vector
total_daily

    lunes    martes miercoles    jueves   viernes
      116      -100       120      -470       250

In [113]:
# Calcula el total de ganancias en el poker
total_poker <- sum(poker_vector)
total_poker

[1] 230

In [115]:
# Calcula el total de ganancias en la ruleta
total_roulette <- sum(roulette_vector)
total_roulette

[1] -314

In [116]:
# Calcula el total de la semana
total_week <- sum(poker_vector + roulette_vector)
total_week

[1] -84

In [120]:
# Selecciona las ganancias del miércoles en el poker (por índice y por nombre)
poker_wednesday <- sum(poker_vector[1] + roulette_vector[1])
poker_wednesday <- sum(poker_vector['miercoles'] + roulette_vector['miercoles'])
poker_wednesday

[1] 120

In [132]:
poker_vector > 0

    lunes    martes miercoles    jueves   viernes
     TRUE     FALSE      TRUE     FALSE      TRUE

In [134]:
# Selecciona las ganancias del martes, miércoles y jueves en el poker (por índice y por nombre)
poker_midweek <- sum(poker_vector[c(2,3,4)])
poker_midweek <- sum(poker_vector[c('martes','miercoles','jueves')])
poker_midweek

[1] -150

In [135]:
# Selecciona las ganancias desde el martes al viernes en la ruleta
roulette_selection_vector <- sum(poker_vector[c(2,3,4,5)] + roulette_vector[c(2,3,4,5)])
roulette_selection_vector

[1] -200

In [138]:
# Calcula la media de ganancias en el poker el lunes, martes y miércoles
average_midweek_gain <- mean(poker_vector[c(1:3)])
average_midweek_gain

[1] 36.66667

In [139]:
# ¿Qué días de la semana hubo ganancias al poker?
selection_vector <- names(poker_vector[poker_vector > 0])
selection_vector

[1] "lunes"     "miercoles" "viernes"

In [142]:
# Haz la selección anterior sobre el vector con los datos del poker (prueba a introducir directamente la expresión para indexar)
poker_winning_days <- poker_vector[selection_vector]
poker_winning_days

    lunes miercoles   viernes
      140        20       240

In [141]:
# Repite lo mismo sobre el vector con los datos de la ruleta
roulette_winning_days <- roulette_vector[selection_vector]
roulette_winning_days

    lunes miercoles   viernes
      -24       100        10

# Dataframes

In [1]:
empty <- data.frame()

# A partir de dos vectores
c1 <- 1:10 # vector de enteros
c2 <- letters[1:10] # vector de strings
df <- data.frame(col1 = c1, col2 = c2)
df

   col1 col2
1   1   a
2   2   b
3   3   c
4   4   d
5   5   e
6   6   f
7   7   g
8   8   h
9   9   i
10 10   j

In [2]:
# Análisis exploratorio
head(mtcars)
head(mtcars, 10)
head(mtcars, -10)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

                  mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Duster 360        14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
Merc 240D         24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230          22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Merc 280          19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4

                    mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4           21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag       21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Datsun 710          22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive      21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout   18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
Valiant             18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Duster 360          14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
Merc 240D           24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230            22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Merc 280            19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
Merc 280C           17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
Merc 450SE          16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
Merc 450SL          17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
Merc 450SLC         15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
Cadillac Fleetwood  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
Fiat 128            32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
Honda Civic         30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
Toyota Corolla      33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
Toyota Corona       21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
Dodge Challenger    15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2

In [3]:
tail(mtcars)
tail(mtcars, 10)
tail(mtcars, -10)

               mpg  cyl disp  hp  drat wt    qsec vs am gear carb
Porsche 914-2  26.0 4   120.3  91 4.43 2.140 16.7 0  1  5    2
Lotus Europa   30.4 4    95.1 113 3.77 1.513 16.9 1  1  5    2
Ford Pantera L 15.8 8   351.0 264 4.22 3.170 14.5 0  1  5    4
Ferrari Dino   19.7 6   145.0 175 3.62 2.770 15.5 0  1  5    6
Maserati Bora  15.0 8   301.0 335 3.54 3.570 14.6 0  1  5    8
Volvo 142E     21.4 4   121.0 109 4.11 2.780 18.6 1  1  4    2

                 mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
AMC Javelin      15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
Camaro Z28       13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
Pontiac Firebird 19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
Fiat X1-9        27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
Porsche 914-2    26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
Lotus Europa     30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
Ford Pantera L   15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4
Ferrari Dino     19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6
Maserati Bora    15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8
Volvo 142E       21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

                    mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Merc 280C           17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
Merc 450SE          16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
Merc 450SL          17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
Merc 450SLC         15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
Cadillac Fleetwood  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
Fiat 128            32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
Honda Civic         30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
Toyota Corolla      33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
Toyota Corona       21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
Dodge Challenger    15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
AMC Javelin         15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
Camaro Z28          13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
Pontiac Firebird    19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
Fiat X1-9           27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
Porsche 914-2       26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
Lotus Europa        30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
Ford Pantera L      15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4
Ferrari Dino        19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6
Maserati Bora       15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8
Volvo 142E          21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

In [4]:
str(mtcars)

'data.frame':	32 obs. of  11 variables:
 $ mpg : num  21 21 22.8 21.4 18.7 18.1 14.3 24.4 22.8 19.2 ...
 $ cyl : num  6 6 4 6 8 6 8 4 4 6 ...
 $ disp: num  160 160 108 258 360 ...
 $ hp  : num  110 110 93 110 175 105 245 62 95 123 ...
 $ drat: num  3.9 3.9 3.85 3.08 3.15 2.76 3.21 3.69 3.92 3.92 ...
 $ wt  : num  2.62 2.88 2.32 3.21 3.44 ...
 $ qsec: num  16.5 17 18.6 19.4 17 ...
 $ vs  : num  0 0 1 1 0 1 0 1 1 1 ...
 $ am  : num  1 1 1 0 0 0 0 0 0 0 ...
 $ gear: num  4 4 4 3 3 3 3 4 4 4 ...
 $ carb: num  4 4 1 1 2 1 4 2 2 4 ...

In [5]:
summary(mtcars)

      mpg             cyl             disp             hp
 Min.   :10.40   Min.   :4.000   Min.   : 71.1   Min.   : 52.0
 1st Qu.:15.43   1st Qu.:4.000   1st Qu.:120.8   1st Qu.: 96.5
 Median :19.20   Median :6.000   Median :196.3   Median :123.0
 Mean   :20.09   Mean   :6.188   Mean   :230.7   Mean   :146.7
 3rd Qu.:22.80   3rd Qu.:8.000   3rd Qu.:326.0   3rd Qu.:180.0
 Max.   :33.90   Max.   :8.000   Max.   :472.0   Max.   :335.0
      drat             wt             qsec             vs
 Min.   :2.760   Min.   :1.513   Min.   :14.50   Min.   :0.0000
 1st Qu.:3.080   1st Qu.:2.581   1st Qu.:16.89   1st Qu.:0.0000
 Median :3.695   Median :3.325   Median :17.71   Median :0.0000
 Mean   :3.597   Mean   :3.217   Mean   :17.85   Mean   :0.4375
 3rd Qu.:3.920   3rd Qu.:3.610   3rd Qu.:18.90   3rd Qu.:1.0000
 Max.   :4.930   Max.   :5.424   Max.   :22.90   Max.   :1.0000
       am              gear            carb
 Min.   :0.0000   Min.   :3.000   Min.   :1.000
 1st Qu.:0.0000   1st Qu.:3.000   1st Qu.:2.000
 Median :0.0000   Median :4.000   Median :2.000
 Mean   :0.4062   Mean   :3.688   Mean   :2.812
 3rd Qu.:1.0000   3rd Qu.:4.000   3rd Qu.:4.000
 Max.   :1.0000   Max.   :5.000   Max.   :8.000

In [6]:
df <- rbind(mtcars, data.frame(mpg = 22, cyl = 5, disp = 202, hp = 100, drat = 2.56, wt = 3.1, 
                               qsec = 15, vs = 1, am = 0, gear =5, carb = 4, row.names=c("seat")))

In [7]:
df

                    mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4           21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag       21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Datsun 710          22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive      21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout   18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
Valiant             18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Duster 360          14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
Merc 240D           24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230            22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Merc 280            19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
Merc 280C           17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
Merc 450SE          16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
Merc 450SL          17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
Merc 450SLC         15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
Cadillac Fleetwood  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
Fiat 128            32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
Honda Civic         30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
Toyota Corolla      33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
Toyota Corona       21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
Dodge Challenger    15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
AMC Javelin         15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
Camaro Z28          13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
Pontiac Firebird    19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
Fiat X1-9           27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
Porsche 914-2       26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
Lotus Europa        30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
Ford Pantera L      15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4
Ferrari Dino        19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6
Maserati Bora       15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8
Volvo 142E          21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2
seat                22.0 5   202.0 100 2.56 3.100 15.00 1  0  5    4

In [11]:
rep(1, 3)

[1] 1 1 1

In [12]:
nrow(df)

[1] 33

In [14]:
df[1,'v']  <- 88
df

                    mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4           21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag       21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Datsun 710          22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive      21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout   18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
Valiant             18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Duster 360          14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
Merc 240D           24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230            22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Merc 280            19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
Merc 280C           17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
Merc 450SE          16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
Merc 450SL          17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
Merc 450SLC         15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
Cadillac Fleetwood  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
Fiat 128            32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
Honda Civic         30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
Toyota Corolla      33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
Toyota Corona       21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
Dodge Challenger    15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
AMC Javelin         15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
Camaro Z28          13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
Pontiac Firebird    19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
Fiat X1-9           27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
Porsche 914-2       26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
Lotus Europa        30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
Ford Pantera L      15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4
Ferrari Dino        19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6
Maserati Bora       15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8
Volvo 142E          21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2
seat                22.0 5   202.0 100 2.56 3.100 15.00 1  0  5    4
                    newcolumn copyofhp hp.gear  v  v  v
Mazda RX4           1         110      27.50000 88  1  1
Mazda RX4 Wag       1         110      27.50000  2  2  2
Datsun 710          1          93      23.25000  3  3  3
Hornet 4 Drive      1         110      36.66667  4  4  4
Hornet Sportabout   1         175      58.33333  5  5  5
Valiant             1         105      35.00000  6  6  6
Duster 360          1         245      81.66667  7  7  7
Merc 240D           1          62      15.50000  8  8  8
Merc 230            1          95      23.75000  9  9  9
Merc 280            1         123      30.75000 10 10 10
Merc 280C           1         123      30.75000 11 11 11
Merc 450SE          1         180      60.00000 12 12 12
Merc 450SL          1         180      60.00000 13 13 13
Merc 450SLC         1         180      60.00000 14 14 14
Cadillac Fleetwood  1         205      68.33333 15 15 15
Lincoln Continental 1         215      71.66667 16 16 16
Chrysler Imperial   1         230      76.66667 17 17 17
Fiat 128            1          66      16.50000 18 18 18
Honda Civic         1          52      13.00000 19 19 19
Toyota Corolla      1          65      16.25000 20 20 20
Toyota Corona       1          97      32.33333 21 21 21
Dodge Challenger    1         150      50.00000 22 22 22
AMC Javelin         1         150      50.00000 23 23 23
Camaro Z28          1         245      81.66667 24 24 24
Pontiac Firebird    1         175      58.33333 25 25 25
Fiat X1-9           1          66      16.50000 26 26 26
Porsche 914-2       1          91      18.20000 27 27 27
Lotus Europa        1         113      22.60000 28 28 28
Ford Pantera L      1         264      52.80000 29 29 29
Ferrari Dino        1         175      35.00000 30 30 30
Maserati Bora       1         335      67.00000 31 31 31
Volvo 142E          1         109      27.25000 32 32 32
seat                1         100      20.00000 33 33 33

In [13]:
# Añadir columnas
df$newcolumn <- rep(1, nrow(df))
df[, 'copyofhp'] <- df$hp
df$hp.gear <- df$hp / df$gear
v <- 1:nrow(df)
df <- cbind(df, v)
df

                    mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4           21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag       21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Datsun 710          22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive      21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout   18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
Valiant             18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Duster 360          14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
Merc 240D           24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230            22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Merc 280            19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
Merc 280C           17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
Merc 450SE          16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
Merc 450SL          17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
Merc 450SLC         15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
Cadillac Fleetwood  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
Fiat 128            32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
Honda Civic         30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
Toyota Corolla      33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
Toyota Corona       21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
Dodge Challenger    15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
AMC Javelin         15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
Camaro Z28          13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
Pontiac Firebird    19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
Fiat X1-9           27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
Porsche 914-2       26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
Lotus Europa        30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
Ford Pantera L      15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4
Ferrari Dino        19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6
Maserati Bora       15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8
Volvo 142E          21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2
seat                22.0 5   202.0 100 2.56 3.100 15.00 1  0  5    4
                    newcolumn copyofhp hp.gear  v  v  v
Mazda RX4           1         110      27.50000  1  1  1
Mazda RX4 Wag       1         110      27.50000  2  2  2
Datsun 710          1          93      23.25000  3  3  3
Hornet 4 Drive      1         110      36.66667  4  4  4
Hornet Sportabout   1         175      58.33333  5  5  5
Valiant             1         105      35.00000  6  6  6
Duster 360          1         245      81.66667  7  7  7
Merc 240D           1          62      15.50000  8  8  8
Merc 230            1          95      23.75000  9  9  9
Merc 280            1         123      30.75000 10 10 10
Merc 280C           1         123      30.75000 11 11 11
Merc 450SE          1         180      60.00000 12 12 12
Merc 450SL          1         180      60.00000 13 13 13
Merc 450SLC         1         180      60.00000 14 14 14
Cadillac Fleetwood  1         205      68.33333 15 15 15
Lincoln Continental 1         215      71.66667 16 16 16
Chrysler Imperial   1         230      76.66667 17 17 17
Fiat 128            1          66      16.50000 18 18 18
Honda Civic         1          52      13.00000 19 19 19
Toyota Corolla      1          65      16.25000 20 20 20
Toyota Corona       1          97      32.33333 21 21 21
Dodge Challenger    1         150      50.00000 22 22 22
AMC Javelin         1         150      50.00000 23 23 23
Camaro Z28          1         245      81.66667 24 24 24
Pontiac Firebird    1         175      58.33333 25 25 25
Fiat X1-9           1          66      16.50000 26 26 26
Porsche 914-2       1          91      18.20000 27 27 27
Lotus Europa        1         113      22.60000 28 28 28
Ford Pantera L      1         264      52.80000 29 29 29
Ferrari Dino        1         175      35.00000 30 30 30
Maserati Bora       1         335      67.00000 31 31 31
Volvo 142E          1         109      27.25000 32 32 32
seat                1         100      20.00000 33 33 33

In [15]:
###################################
# Data frames: Indexación         #
###################################

# Indexando celdas
df <- data.frame(mtcars)
str(df)
df[5, 2] # Obtiene una única celda
df[1:5, 1:2] # Obtiene varias celdas
df[1:2, c("gear", "am")]
df[1:2, c("gear", "am")] <- 0 # Asignación de celdas
df[1:2, c("gear", "am")]

'data.frame':	32 obs. of  11 variables:
 $ mpg : num  21 21 22.8 21.4 18.7 18.1 14.3 24.4 22.8 19.2 ...
 $ cyl : num  6 6 4 6 8 6 8 4 4 6 ...
 $ disp: num  160 160 108 258 360 ...
 $ hp  : num  110 110 93 110 175 105 245 62 95 123 ...
 $ drat: num  3.9 3.9 3.85 3.08 3.15 2.76 3.21 3.69 3.92 3.92 ...
 $ wt  : num  2.62 2.88 2.32 3.21 3.44 ...
 $ qsec: num  16.5 17 18.6 19.4 17 ...
 $ vs  : num  0 0 1 1 0 1 0 1 1 1 ...
 $ am  : num  1 1 1 0 0 0 0 0 0 0 ...
 $ gear: num  4 4 4 3 3 3 3 4 4 4 ...
 $ carb: num  4 4 1 1 2 1 4 2 2 4 ...

[1] 8

                  mpg  cyl
Mazda RX4         21.0 6
Mazda RX4 Wag     21.0 6
Datsun 710        22.8 4
Hornet 4 Drive    21.4 6
Hornet Sportabout 18.7 8

              gear am
Mazda RX4     4    1
Mazda RX4 Wag 4    1

              gear am
Mazda RX4     0    0
Mazda RX4 Wag 0    0

In [16]:
# Indexando filas (siempre devuelve data frames)
df[1, ]
df[-nrow(df), ]
df[1:5, ]
df[(df$hp > 150 & df$hp < 200), ]
subset(df, hp > 150 & hp < 200)

vrow <- as.numeric(as.vector(df[1, ])) # Convertimos el resultados de la indexación en vector

          mpg cyl disp hp  drat wt   qsec  vs am gear carb
Mazda RX4 21  6   160  110 3.9  2.62 16.46 0  0  0    4

                    mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4           21.0 6   160.0 110 3.90 2.620 16.46 0  0  0    4
Mazda RX4 Wag       21.0 6   160.0 110 3.90 2.875 17.02 0  0  0    4
Datsun 710          22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive      21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout   18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
Valiant             18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Duster 360          14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
Merc 240D           24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230            22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Merc 280            19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
Merc 280C           17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
Merc 450SE          16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
Merc 450SL          17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
Merc 450SLC         15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
Cadillac Fleetwood  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
Fiat 128            32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
Honda Civic         30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
Toyota Corolla      33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
Toyota Corona       21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
Dodge Challenger    15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
AMC Javelin         15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
Camaro Z28          13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
Pontiac Firebird    19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
Fiat X1-9           27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
Porsche 914-2       26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
Lotus Europa        30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
Ford Pantera L      15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4
Ferrari Dino        19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6
Maserati Bora       15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  0  0    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  0  0    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2

                  mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Hornet Sportabout 18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
Merc 450SE        16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
Merc 450SL        17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
Merc 450SLC       15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
Pontiac Firebird  19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
Ferrari Dino      19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6

                  mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Hornet Sportabout 18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
Merc 450SE        16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
Merc 450SL        17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
Merc 450SLC       15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
Pontiac Firebird  19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
Ferrari Dino      19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6

In [17]:
# Indexando columnas
df$hp # Devuelve un vector

 [1] 110 110  93 110 175 105 245  62  95 123 123 180 180 180 205 215 230  66  52
[20]  65  97 150 150 245 175  66  91 113 264 175 335 109

In [18]:
df[, "hp"] # Devuelve un vector

 [1] 110 110  93 110 175 105 245  62  95 123 123 180 180 180 205 215 230  66  52
[20]  65  97 150 150 245 175  66  91 113 264 175 335 109

In [19]:
df[, 4] # Devuelve un vector

 [1] 110 110  93 110 175 105 245  62  95 123 123 180 180 180 205 215 230  66  52
[20]  65  97 150 150 245 175  66  91 113 264 175 335 109

In [20]:
df["hp"] # Devuelve un data frame con una columna

                    hp
Mazda RX4           110
Mazda RX4 Wag       110
Datsun 710           93
Hornet 4 Drive      110
Hornet Sportabout   175
Valiant             105
Duster 360          245
Merc 240D            62
Merc 230             95
Merc 280            123
Merc 280C           123
Merc 450SE          180
Merc 450SL          180
Merc 450SLC         180
Cadillac Fleetwood  205
Lincoln Continental 215
Chrysler Imperial   230
Fiat 128             66
Honda Civic          52
Toyota Corolla       65
Toyota Corona        97
Dodge Challenger    150
AMC Javelin         150
Camaro Z28          245
Pontiac Firebird    175
Fiat X1-9            66
Porsche 914-2        91
Lotus Europa        113
Ford Pantera L      264
Ferrari Dino        175
Maserati Bora       335
Volvo 142E          109

In [21]:
df[4] # Devuelve un data frame con una columna

                    hp
Mazda RX4           110
Mazda RX4 Wag       110
Datsun 710           93
Hornet 4 Drive      110
Hornet Sportabout   175
Valiant             105
Duster 360          245
Merc 240D            62
Merc 230             95
Merc 280            123
Merc 280C           123
Merc 450SE          180
Merc 450SL          180
Merc 450SLC         180
Cadillac Fleetwood  205
Lincoln Continental 215
Chrysler Imperial   230
Fiat 128             66
Honda Civic          52
Toyota Corolla       65
Toyota Corona        97
Dodge Challenger    150
AMC Javelin         150
Camaro Z28          245
Pontiac Firebird    175
Fiat X1-9            66
Porsche 914-2        91
Lotus Europa        113
Ford Pantera L      264
Ferrari Dino        175
Maserati Bora       335
Volvo 142E          109

In [22]:
df[["hp"]] # Devuelve un vector_

 [1] 110 110  93 110 175 105 245  62  95 123 123 180 180 180 205 215 230  66  52
[20]  65  97 150 150 245 175  66  91 113 264 175 335 109

In [23]:
df[ , c(4, 6)] # Devuelve un data frame

                    hp  wt
Mazda RX4           110 2.620
Mazda RX4 Wag       110 2.875
Datsun 710           93 2.320
Hornet 4 Drive      110 3.215
Hornet Sportabout   175 3.440
Valiant             105 3.460
Duster 360          245 3.570
Merc 240D            62 3.190
Merc 230             95 3.150
Merc 280            123 3.440
Merc 280C           123 3.440
Merc 450SE          180 4.070
Merc 450SL          180 3.730
Merc 450SLC         180 3.780
Cadillac Fleetwood  205 5.250
Lincoln Continental 215 5.424
Chrysler Imperial   230 5.345
Fiat 128             66 2.200
Honda Civic          52 1.615
Toyota Corolla       65 1.835
Toyota Corona        97 2.465
Dodge Challenger    150 3.520
AMC Javelin         150 3.435
Camaro Z28          245 3.840
Pontiac Firebird    175 3.845
Fiat X1-9            66 1.935
Porsche 914-2        91 2.140
Lotus Europa        113 1.513
Ford Pantera L      264 3.170
Ferrari Dino        175 2.770
Maserati Bora       335 3.570
Volvo 142E          109 2.780

In [24]:
df[ , c("hp", "wt")] # Devuelve un data frame

                    hp  wt
Mazda RX4           110 2.620
Mazda RX4 Wag       110 2.875
Datsun 710           93 2.320
Hornet 4 Drive      110 3.215
Hornet Sportabout   175 3.440
Valiant             105 3.460
Duster 360          245 3.570
Merc 240D            62 3.190
Merc 230             95 3.150
Merc 280            123 3.440
Merc 280C           123 3.440
Merc 450SE          180 4.070
Merc 450SL          180 3.730
Merc 450SLC         180 3.780
Cadillac Fleetwood  205 5.250
Lincoln Continental 215 5.424
Chrysler Imperial   230 5.345
Fiat 128             66 2.200
Honda Civic          52 1.615
Toyota Corolla       65 1.835
Toyota Corona        97 2.465
Dodge Challenger    150 3.520
AMC Javelin         150 3.435
Camaro Z28          245 3.840
Pontiac Firebird    175 3.845
Fiat X1-9            66 1.935
Porsche 914-2        91 2.140
Lotus Europa        113 1.513
Ford Pantera L      264 3.170
Ferrari Dino        175 2.770
Maserati Bora       335 3.570
Volvo 142E          109 2.780

In [25]:
###################################
# Data frames                     #
###################################

# Crea a partir de los vectores siguientes un data frame
planets <- c("Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune");
type <- c("Terrestrial planet", "Terrestrial planet", "Terrestrial planet", "Terrestrial planet", "Gas giant", "Gas giant", "Gas giant", "Gas giant")
diameter <- c(0.382, 0.949, 1, 0.532, 11.209, 9.449, 4.007, 3.883); 
rotation <- c(58.64, -243.02, 1, 1.03, 0.41, 0.43, -0.72, 0.67);
rings <- c(FALSE, FALSE, FALSE, FALSE, TRUE, TRUE, TRUE, TRUE);

In [26]:
planets_df  <- data.frame(planets = planets, type = type, diameter=diameter, rotation=rotation, rings=rings)

In [28]:
# Comprueba el contenido del data frame
planets_df

  planets type               diameter rotation rings
1 Mercury Terrestrial planet  0.382     58.64  FALSE
2 Venus   Terrestrial planet  0.949   -243.02  FALSE
3 Earth   Terrestrial planet  1.000      1.00  FALSE
4 Mars    Terrestrial planet  0.532      1.03  FALSE
5 Jupiter Gas giant          11.209      0.41   TRUE
6 Saturn  Gas giant           9.449      0.43   TRUE
7 Uranus  Gas giant           4.007     -0.72   TRUE
8 Neptune Gas giant           3.883      0.67   TRUE

In [36]:
# Selecciona la información de los primeros tres planetas (los más cercanos al sol)
closest_planets_df <- head(planets_df, 3)
closest_planets_df

  planets type               diameter rotation rings
1 Mercury Terrestrial planet 0.382      58.64  FALSE
2 Venus   Terrestrial planet 0.949    -243.02  FALSE
3 Earth   Terrestrial planet 1.000       1.00  FALSE

In [38]:
# Selecciona la información de los últimos tres planetas (los más lejanos al sol)
furthest_planets_df <- tail(planets_df, 3)
furthest_planets_df

  planets type      diameter rotation rings
6 Saturn  Gas giant 9.449     0.43    TRUE
7 Uranus  Gas giant 4.007    -0.72    TRUE
8 Neptune Gas giant 3.883     0.67    TRUE

In [52]:
# Selecciona la columna diameter de los últimos seis planetas (los más lejanos al sol)
furthest_planets_diameter <- tail(planets_df, 6)$diameter
furthest_planets_diameter

[1]  1.000  0.532 11.209  9.449  4.007  3.883

In [55]:
# Selecciona sólo los planetas que tienen anillos
planets_with_rings_df <- planets_df[ planets_df$rings == 1 , ]
planets_with_rings_df

  planets type      diameter rotation rings
5 Jupiter Gas giant 11.209    0.41    TRUE
6 Saturn  Gas giant  9.449    0.43    TRUE
7 Uranus  Gas giant  4.007   -0.72    TRUE
8 Neptune Gas giant  3.883    0.67    TRUE

In [57]:
# Selecciona los planetas que tienen un diametro inferior al de la tierra (aquellos que tienen diametro < 1, 
# puesto que la variable es relativa al diametro de la tierra)
small_planets_df  <- planets_df[ planets_df$diameter < 1]
small_planets_df

  planets type               rotation
1 Mercury Terrestrial planet   58.64
2 Venus   Terrestrial planet -243.02
3 Earth   Terrestrial planet    1.00
4 Mars    Terrestrial planet    1.03
5 Jupiter Gas giant             0.41
6 Saturn  Gas giant             0.43
7 Uranus  Gas giant            -0.72
8 Neptune Gas giant             0.67

In [58]:
# La función order devuelve las posiciones de un vector ordenado ascendentemente
a <- c(4, 10, 3)
order(a)
a[order(a)]

[1] 3 1 2

[1]  3  4 10

In [60]:
# Ordena el data frame según el diametro de los planetas ascendentemente
positions <- order(planets_df$diameter)
positions

[1] 1 4 2 3 8 7 6 5

In [ ]:
largest_first_df <- plane
largest_first_df